# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# VSCode settings
.vscode/

# Environment variables
.env
*.env

# OS
.DS_Store
Thumbs.db

# Django static & media
staticfiles/
static/
media/

# Node modules (front-end)
node_modules/
